# Configuración de TML
DEBUG=True
PORT=5000
SECRET_KEY=tu-clave-secreta-aqui-cambia-esto-en-produccion
DATABASE_PATH=backend/database.db
TML_ADMIN_NAME=Administrador
TML_ADMIN_EMAIL=admin@tml.local
TML_ADMIN_PASSWORD=admin123
